.App {
  background-color: #8e4a04 ;
  line-height: 50px;
}
.title{
  text-align:center;
  font-size: larger;
  color: white;
  font-weight: bold;
  
}

.schedule upload{
  align-items: center;
  text-align: center;
  color:black;
  font-size: 20px;
  background-color: white;
  border-radius: 12px;
}

.upload button:hover {
  background-color: #660000;
  color: white;
}

.schedule label{
  font-weight: bold;
  font-style: italic;
}
.schedule input{
  border-radius: 10px;
  font-size: 16px;
}
.schedule label{
  font-size:18px;
}
.schedule button{
  align-items: center;
  text-align: center;
  color:black;
  font-size: 20px;
  background-color: white;
  border-radius: 12px;
}
.meeting{
  margin-left: 5px;
}
.schedule button:hover {
  background-color: #660000;
  color: white;
}
.App-header {
  background-color:#8e4a04  ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



